*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
#box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  padding: 0 0 60px 0;
}
/* ------------- */

.main {
  min-width: 550px;
  max-width: 43vw;
  width: 100%;
  border-radius: 10px;
  height: auto;
  background-image: linear-gradient(to bottom right, #0d47a1, black);
  margin: 20px auto;
  position: relative;
  top: 8vh;
  padding: 2vw;
  color: white;
}
.scoreBox
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid white;
  margin-bottom: 30px;
  padding: 10px;
}
.scoreBox .img
{
  min-width: 220px;
  max-width: 50%;
  width: 100%;
} 
.scoreBox .scoreCard
{
  min-width: 220px;
  max-width: 50%;
  width: 100%;
  border-bottom: 1px solid white;
  margin: 20px 0;
}
.flag {
  height: 30px;
  width: 40px;
}
.overs {
  color: silver;
  position: relative;
  bottom: 1vw;
}
.score {
  position: relative;
  bottom: 0.5vw;
  color: white;
}
span {
  color: white;
}
tr {
  border: 2px solid white;
}
.right1 {
  text-align: right;
}
.head {
  font-size: 1.3vw;
}
.day {
  font-size: 1vw;
  color: silver;
}
.target {
  font-size: 1vw;
}
.res {
  font-size: 1.5vw;
}
.match {
  color: silver;
  font-size: 16px;
}

@media only screen and (max-width: 425px) {
  .main {
    width: 100vw;
    height: 100vw;
    padding: 4vw;
  }
  .flag {
    width: 10vw;
    height: 8vw;
  }
  .head {
    font-size: 5vw;
  }
  .day {
    font-size: 4vw;
  }
  .target {
    font-size: 4vw;
  }
  .res {
    font-size: 5vw;
  }
}

/* ------------------------------------ */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar2
{
  margin-left: 205px;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 420px;
  padding: 0 5px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* ----------------- */
#country-box
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  padding: 40px 0;
}
.country-card
{
  width: 25%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.country-flag
{
  max-width: 50px;
  max-height: 50px;
}



